@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@using Umbraco.Cms.Core.Models


    <!-- CHOOSE US PART -->

    <section class="chooseus">
      <div class="container-fluid">
        <div class="bg-box"></div>
        <div class="container">
          <div>
            <h2 class="section-title">Why Choose Us</h2>
            <h3 class="section-title-2">
              Why We Are The Best Business Consulting Agency
            </h3>
            <div class="qualities">
              <img src="/images/icons/tumme.svg" alt="" />
              <div class="text-content">
                <span class="title">Process Excellence</span>
                <span>Lorem ipsum dolor sit amet.</span>
              </div>
            </div>
            <div class="qualities">
              <img src="/images/icons/femkant.svg" alt="" />
              <div>
                <span class="title">Process Excellence</span>
                <span>Lorem ipsum dolor sit amet.</span>
              </div>
            </div>
            <div class="qualities">
              <img src="/images/icons/pentool.svg" alt="" />
              <div>
                <span class="title">Process Excellence</span>
                <span>Lorem ipsum dolor sit amet.</span>
              </div>
            </div>
            <div class="qualities">
              <img src="/images/icons/coghead.svg" alt="" />
              <div>
                <span class="title">Process Excellence</span>
                <span>Lorem ipsum dolor sit amet.</span>
              </div>
            </div>
          </div>
          <div>
            <img
              class="chooseusImage"
              src="~/images/amy-hirschi-k0c8ko3e6aa-unsplash.jpg"
              alt="alternative image text"
            />
          </div>
        </div>
      </div>
    </section>
