@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@using Umbraco.Cms.Core.Models
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@using Umbraco.Cms.Core.Models.Blocks;

    <!--    FEATURES PART    -->
    <section class="features">
      <div class="container">
        <div class="left-box">
          <h2 class="section-title">Features</h2>
          <h1>@Model.Value("featuresTitle")</h1>
          <a class="btn-theme" href="#learnmore"
            >Learn More <i class="fa-regular fa-arrow-up-right"></i
          ></a>
        </div>
        <div class="right-box">
          
            @{
                var features = Model.Value<IEnumerable<BlockListItem>>("feature")?.Select(x => x.Content);
                foreach (var feature in features)
                {
                    var typedMediaPickerSingle = feature.Value<MediaWithCrops>("featureIcon");
                    <div class="feature">
            
                        @{if (typedMediaPickerSingle != null)
                            {
                            <img src="@typedMediaPickerSingle?.MediaUrl()"  alt="@typedMediaPickerSingle?.Value("alt")" />
                            }
                        }
                       
                        <h2>@feature.Value("featureTitle")</h2>
                        
                        <p>@feature.Value("featureDescription")</p>
                    </div>
                }
            }

        </div>
      </div>
    </section>
    
    
