@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage


<footer>
  <div class="container">

      <div class="footer-column">
        <img class="header-logo" src="./images/logos/logotype-white.svg" />

        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorum cumque, consequuntur alias assumenda rerum perferendis quasi provident ratione. In pariatur expedita quod suscipit.</p>
      </div>
      <div class="footer-column">
        <h4>Company</h4>
        <ul>
          <li><a href="#">About</a></li>
          <li><a href="#">Features</a></li>
          <li><a href="#">Works</a></li>
          <li><a href="#">Career</a></li>
        </ul>
      </div>
      <div class="footer-column">
        <h4>Help</h4>
        <ul>
          <li><a href="#">Customer Support</a></li>
          <li><a href="#">Delivery Details</a></li>
          <li><a href="#">Terms & Conditions</a></li>
          <li><a href="#">Privacy Policy</a></li>
        </ul>
      </div>
      <div class="footer-column">
        <h4>Resources</h4>
        <ul>
          <li><a href="#">Free eBooks</a></li>
          <li><a href="#">Development Tutorials</a></li>
          <li><a href="#">How to Blog</a></li>
        </ul>
      </div>

  </div>
</footer>