@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@using Umbraco.Cms.Core.Models
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@using Umbraco.Cms.Core.Models.Blocks;


    <!-- OUR TEAM -->

<section class="ourteam">
  <div class="container">
    <div class="team-title">
    <h3 class="section-title">@Model.Value("meetOurTeamSectionTitle")</h3>
    <div class="d-flex justify-content-between">
      <h3 class="section-title-2">@Model.Value("meetOurTeamSectionHeading")</h3>
      <a class="btn-theme-line" href="#"
        >Browse Team <i class="fa-solid fa-arrow-up-right"></i
      ></a>
    </div>
    </div>
    <div class="team-members">
        @{
        var teamMembers = Model.Value<IEnumerable<BlockListItem>>("teamMemberSettings")?.Select(x => x.Content);
        foreach (var item in teamMembers)
        {
        var image = item.Value<MediaWithCrops>("teamMemberImage");

      <div class="member">
        @{if (image != null)
        {
            <img src="@image?.MediaUrl()"  alt="@image?.Value("alt")" />
        }
        }

        <h4 class="member-name">@item.Value("teamMemberFullname")</h4>
        <h5 class="member-title">@item.Value("teamMemberWorkTitle")</h5>
      </div>
        }
        }
    </div>

  </div>
</section>