@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage


<header>
  <div class="container">
    <img class="header-logo" src="./images/logos/logotype.svg" />

    <div class="topnav" id="myTopnav">
      <div>
        <a href="#home">Home</a>
        <a href="#service">Service</a>
        <a href="#about">News</a>
        <a href="#contact">Contact</a>
      </div>

      <!-- "Hamburger menu" / "Bar icon" to toggle the navigation links -->
      <a
        href="javascript:void(0);"
        class="burger-icon"
        onclick="burgerMenu()"
      >
        <i class="fa fa-bars"></i>
      </a>

      <a class="btn-theme"
        >Login <i class="fa-regular fa-arrow-up-right"></i
      ></a>
    </div>

    <div class="contact-info">
      <div>
        <span
          ><i class="fa-regular fa-phone-volume"></i> +46 (8) 121 470
          50</span
        >
        <span
          ><i class="fa-regular fa-envelope-dot"></i> info@crito.com</span
        >
        <span
          ><i class="fa-regular fa-location-dot"></i> Sveavägen 31, 111 34
          STOCKHOLM</span
        >
      </div>
      <div class="social-media">
        <i class="fa fa-facebook-square" aria-hidden="true"></i>
        <i class="fa fa-twitter" aria-hidden="true"></i>
        <i class="fa fa-instagram" aria-hidden="true"></i>
        <i class="fa fa-linkedin-square" aria-hidden="true"></i>
      </div>
    </div>
  </div>
</header>