@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage


<!-- NEWSLETTER PART -->

<section class="newletter">
  <div class="container">
    <img src="~/images/bg-effects/background-wavy-lines.svg" alt="" />
    <h3>Get News Updates By Signing Up</h3>
    <form action="">
      <input type="email" />
      <button class="btn-theme">Subscribe</button>
    </form>
  </div>
</section>

