@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage


<!--    SHOWCASE PART   -->
<section class="showcase">
  <div class="container-fluid">
    <div class="text-area">
      <h2>We Provide The Best Business Solutions</h2>
      <p>
        Establish your vision and value proposition and turn them into
        testable prototypes.
      </p>
      <a class="btn-theme"
        >Get Consulting <i class="fa-regular fa-arrow-up-right"></i
      ></a>
      <a class="btn-theme-line"
        >Learn More <i class="fa-regular fa-arrow-up-right"></i
      ></a>
    </div>
    <div class="image-area">
      <img src="./images/showcase-image.svg" alt="showcase-image" />
    </div>
    <img
      class="background-lines"
      src="./images/bg-effects/background-lines.svg"
      alt="background-lines"
    />
  </div>
</section>