@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	Layout = "_Layout.cshtml";
	ViewData["PageTitle"] = @Model.Value("pageTitle");
	ViewData["PageDescription"] = @Model.Value("pageDescription");
	ViewData["PageKeywords"] = @Model.Value("pageKeywords");
}


    @await Html.PartialAsync("_Navbar")
    @await Html.PartialAsync("_Breadcrumb")

<main>
    
    
        <!-- NEWS AND ARTICLES -->

    <section class="articles">
      <div class="container">
        <h2 class="section-title">Article and News</h2>
        <div class="d-flex justify-content-between">
          <h3 class="section-title-2">Get Every Single Articles & News</h3>
          <a class="btn-theme-line"
            >Browse Articles <i class="fa-solid fa-arrow-up-right"></i
          ></a>
        </div>

        <div class="article-grid">
          <div class="article-card">
            <div class="article-img">
              <img
                src="./images/linkedin-sales-solutions-Mis5fyJi7Q0-unsplash.jpg"
                alt=""
              />
              <span class="article-date">12 sep</span>
            </div>
            <span>article tag</span>
            <h3>Bla bla bla lorem osv</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing.</p>
          </div>
          <div class="article-card">
            <div class="article-img">
              <img
                src="./images/linkedin-sales-solutions-Mis5fyJi7Q0-unsplash.jpg"
                alt=""
              />
              <span class="article-date">12 sep</span>
            </div>
            <span>article tag</span>
            <h3>Bla bla bla lorem osv</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing.</p>
          </div>
          <div class="article-card">
            <div class="article-img">
              <img
                src="./images/linkedin-sales-solutions-Mis5fyJi7Q0-unsplash.jpg"
                alt=""
              />
              <span class="article-date">12 sep</span>
            </div>
            <span>article tag</span>
            <h3>Bla bla bla lorem osv</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing.</p>
          </div>
          <div class="article-card">
            <div class="article-img">
              <img
                src="./images/linkedin-sales-solutions-Mis5fyJi7Q0-unsplash.jpg"
                alt=""
              />
              <span class="article-date">12 sep</span>
            </div>
            <span>article tag</span>
            <h3>Bla bla bla lorem osv</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing.</p>
          </div>
        </div>
      </div>
    </section>
    <!-- NEWSLETTER PART -->

    <section class="newletter">
      <div class="container">
        <img src="./images/background-wavy-lines.svg" alt="" />
        <h3>Get News Updates By Signing Up</h3>
        <form action="">
          <input type="email" />
          <button class="btn-theme">Subscribe</button>
        </form>
      </div>
    </section>
</main>